index.erb

<div class="container">
  <h1>Recent Tweets</h1>

  <table>
      <form id="get_tweets" action='/tweets' method="POST">
        <input id="input_box" type="text" name="username" placeholder="enter twitter handle">
        <input type="submit" value="Get Tweets!">
    </form>
  </table>
</div>
